@font-face {
    font-display: swap; 
    font-family: 'Young Serif';
    src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-display: swap; 
    font-family: 'Outfit';
    src: url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 400 700;
}

:root {
    --ff-primary-young: 'Young Serif', Georgia, 'Times New Roman', Times, serif;
    --ff-secondary-outfit: 'Outfit', Arial, Helvetica, sans-serif;
    --fs-1: clamp(2.25rem, 2.1785714285714284rem + 0.35714285714285715vw, 2.5rem);
    --fs-2: 1.75rem;
    --fs-3: 1.25rem;
    --fs-4: 1rem;
    --color-rose-800: hsl(332, 51%, 32%);
    --color-rose-50: hsl(330, 100%, 98%);
    --color-stone-900: hsl(24, 5%, 18%);
    --color-stone-600: hsl(30, 10%, 34%);
    --color-stone-150: hsl(30, 18%, 87%);
    --color-stone-100: hsl(30, 54%, 90%);
    --color-brown-800: hsl(14, 45%, 36%);
    --color-white: hsl(0, 0%, 100%);
}

html {
	font-size: 100%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
    font-family: var(--ff-secondary-outfit);
    font-weight: 400;
    letter-spacing: 0px;
	line-height: 1.5;
}

h1, h2 {
    font-family: var(--ff-primary-young);
    font-weight: 400;
	line-height: 1;
}

h3 {
    font-family: var(--ff-secondary-outfit);
    font-weight: 600;
    line-height: 1;
}

p, li, figcaption {
	text-wrap: pretty;
	max-width: 65ch;
} 

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
	height: auto;
}

input, button, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

/* h1, h2, h3, h4, h5, h6 {
	text-wrap: balance;
} */

a,
a:visited,
a:active {
	text-decoration: none;
}

ul, ol {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Mobile layout*/
.recipe {
    min-height: 100vh;
}

.recipe__content {
    padding: 40px 32px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.recipe__title {
    color: var(--color-stone-900);
    font-size: var(--fs-1);
    text-align: left;
    margin-bottom: 1.5rem;
}
.recipe__description {
    text-align: left;
}

p , li {
    color: var(--color-stone-600);
}

.recipe__time-section {
    background-color: var(--color-rose-50);
    padding: 24px;
    border-radius: 0.75rem;
}

.recipe__time-section h3 {
    color: var(--color-rose-800);
    margin-bottom: 1rem;
}

li {
    padding-left: 16px;
    margin-left: 1.25rem;
}

.recipe__time-section li::marker {
    color: var(--color-rose-800);
}

.recipe__section h2 {
    color: var(--color-brown-800);
    margin-bottom: 1.5rem;
}
.recipe__section li::marker {
    color: var(--color-brown-800);
}
.recipe__section ol li::marker {
    font-weight: 700;
}

.recipe__divider {
    color: var(--color-stone-150);
    opacity: 0.5;
}

.recipe__nutrition-section p {
    margin-bottom: 1.5rem;
}

.recipe__nutrition-section strong {
    color:var(--color-brown-800);
}

.recipe__table {
    width: 100%;
    border-collapse: collapse;
}

.recipe__table-cell {
    border-bottom: 1px solid var(--color-stone-150);
}

.recipe__table-cell {
    padding: 12px 0px 12px 32px
}

.recipe__table strong{
    padding-right: 32px;
    display: block;
    margin-left: 1rem;
}

.recipe__table-cell-cal {
    padding-top: 0;
}

.recipe__table-cell-value {
    padding-left: 0;
}

.recipe__table-cell-cal-value {
    padding-top: 0;
}

.recipe__table-cell-fat {
    padding-bottom: 0;
    border-bottom: none;
}

.recipe__table-cell-fat-value {
    padding-bottom: 0;
    border-bottom: none;
}

/* Tablet layout */
@media (width >= 47.938em) {
    main {
        display: flex;
        justify-content: center;
        background-color: var(--color-stone-100);
        padding: 128px 48px;
    }

    .recipe {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        background-color: var(--color-white);
        max-width: 38.5rem;
        padding: 40px;
        border-radius: 1.5rem;
    }

    .recipe__banner {
        border-radius: 0.75rem;
    }
    
    .recipe__content {
        padding: 0;
    }
}

/* Desktop layout */
@media (width >= 75em) {
    .recipe {
        max-width: 46rem;
    }
}